.home-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
    font-family: "Karla", sans-serif;
    text-decoration: none;
    color: #4D5B9E;
}

/* QUESTIONS SECTION */

.questions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 400px;
    margin-top: 16px;
}

.questions-element {
    padding: 4px;
}

.questions-text {
    color: #293264;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 700;
}


/* BUTTON SECTION */


.buttons-element input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.buttons-element label {
    display: inline-block;
    background-color: transparent;
    font-family: "Karla", sans-serif;
    color: #293264;
    font-size: 16px;
    border: 2px solid #293264;
    border-radius: 16px;
    padding: 8px 24px;
    margin: 8px 0;
    margin-right: 16px;
}

label:has(input[type="radio"]:checked) {
    background-color: #D6DBF5;
    border-color: #D6DBF5;
}

/* .buttons-element input[type="radio"]:checked+label {
    background-color: #D6DBF5;
    border-color: #D6DBF5;
} */

.buttons-element label:hover {
    background-color: #D6DBF5;
    cursor: pointer;
}

hr {
    background-color: #DBDEF0;
}

.correct {
    background-color: #28a745;
    color: white;
}

.wrong {
    background-color: #dc3545;
    color: white;
}

/* CHECK ANSWER */

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
}

.btn-primary {
    color: #ffffff;
    background-color: #4D5B9E;
    border: none;
    border-radius: 16px;
    padding: 16px 24px;
    cursor: pointer;
}